<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-0HLIQPU\\SQLEXPRESS;Initial Catalog=food;Integrated Security=true;"
             name="myConStr"/>
  </connectionStrings>
  <appSettings>
    <add key="MealDiscount" value="20" />
    <add key="Discount" value="15" />
    <add key="DiscountThreshold" value="200" />
    <add key="OrdersNo" value="5" />
    <add key="DeliveryThreshold" value="100" />
    <add key="DeliveryFee" value="15" />
    <add key="MinimumQuantity" value="200" />
    <add key="StartDate" value="2020-01-01 00:01:00" />
    <add key="EndDate" value="2020-12-31 23:59:59" />
  </appSettings>
</configuration>
